<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<title>Chat</title>

</head>
<body>


	<h1>Channels</h1>
	<table class="table">
		<tbody>
			<tr th:each="channel: ${channels}">
			<td><a th:href="@{/channel/{channelId}(channelId=${channel.channelId})}" th:text="${channel.channelName}"></a>
		</tbody>

	</table>
	
	<form method="post" action="/">
		<div>
			<label class="form-label">New Channel: </label><input class="form-control" type="text" th:field="${channel.channelName}" />
		</div>
		<div>
			<input type="submit" value="Create"/>
		</div>
	</form>
	
	<script type="text/javascript" src="welcome.js"></script>
</body>
</html>
